{deps, [
    gun,
    thoas,
    yamerl,
    eredis,
    jsx
]}.

{project_plugins, [
    {erlfmt, "~> 1.1"},
    {rebar3_lint, "~> 2.0.1"},
    rebar3_hank
]}.
{edoc_opts, [{preprocess, true}]}.
{project_plugins, [erlfmt]}.
{erlfmt, [
    {files, [
        "src/*.{hrl,erl,app.src}",
        "apps/*/{src,include}/*.{hrl,erl,app.src}",
        "apps/*/src/*/*.erl",
        "apps/*/rebar.config",
        "test/*.erl",
        "rebar.config",
        "elvis.config",
        "config/*.config",
        "config/*/*.config"
    ]},
    {exclude_files, ["apps/m7_client/src/xsd_records.hrl"]}
]}.

{erl_opts, [debug_info]}.
{deps, [
    {hackney, "~> 1.18"},
    {jsx, "~> 3.0"},
    {eredis, {git, "git@github.com:Nordix/eredis.git", {branch, "master"}}}
]}.

{shell, [
    {config, "config/simple.config"}
]}.

