[
    {chatgpt, [
        {config, ["config/simple.toml"]}
    ]},
    {opentelemetry, [
        {processors, [{otel_batch_processor, #{exporter => {opentelemetry_exporter, #{}}}}]}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => notice,
                filters => [],
                filter_default => log,
                formatter =>
                    {logger_formatter, #{
                        single_line => true,
                        template => [
                            time,
                            " [",
                            level,
                            "] ",
                            {domain, [domain], ["[]"]},
                            " ",
                            msg,
                            {mfa, [" (@", mfa, " ", pid, ")"], []},
                            "\n"
                        ]
                    }}
            }}
        ]}
    ]}
].
